.home-container{
  height: 95%;
  padding: 28px;

  .login-popup{
    width: 80%;
    padding: 38px;

    .login-title{
      font-size: 34px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 20px;
    }

    .login-btn{
      margin: 32px 0 ;
    }

    .login-desc{
      color: #999;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }
  }

  .user-panel{
    background-color: #EB5353;
    border-radius: 22px;
    color: #FFF;

    .user-info{
      display: flex;
      padding: 18px;
      align-items: center;

      .avatar-img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 20px;
      }

      .nick-name{
        font-size: 38px;
        font-weight: 700;
        margin-left: 8px;
      }

      .record-btn{

      }
    }
    .record-data{
      display: flex;
      padding: 18px;
      border-top: 1px #ff8b8b solid;

      //.record-box:first-child {
      //  border-right: 1px #ff8b8b solid;
      //}

      .record-box{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .num{
          color: #ffdf99;
          font-size: 38px;
          font-weight: 700;
        }

        .title{
          font-size: 34px;
          font-weight: 700;
        }
      }

    }
  }

  .menu-cell{
    margin-top: 24px;
    background-color: #fff;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex: 1;
    justify-content: space-between;

    .cell-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .cell-icon{
        position: relative;
        image{
          width: 92px;
          height: 92px;
        }
      }
      .cell-text{
        font-size: 28px;
        //margin-top: 2px;
        color: #333;
      }
    }
  }

  .menu{
    margin-top: 24px;
    border-radius: 20px;
    overflow: hidden;
  }

  .logout{
    font-size: 22px;
    color: #999999;
    margin-top: 28px;
    width: 100%;
    text-align: center;
  }
  .join-room-popup{
    width: 78%;
    padding: 20px 32px 40px 32px;

    .title{
      color: #333333;
      font-size: 34px;
      font-weight: 700;
      text-align: center;
    }

    .btn{
      margin-top: 20px;
    }

  }
}
